<!DOCTYPE html>
<html lang="en">

<head>

    <title>
     Student Portal
    </title>


{% include "homeheader.html" %}


</head>
<body>
{% load staticfiles %}

{% include "headercontent.html" %}
{% load static %}

<h2>{{ title }}</h2>
<h3>{{ subtitle }}</h3>
<p>{{ message }}</p>

<form method="post" action="{% url 'updateClub' %}">
    {% csrf_token %}
    <input type="text" readonly name="clubId" value="{{ clubId }}" aria-labelledby="Club ID: " style="display: {{ id_display }};">
    {{ club_form.as_p }}
    {{ contact_details_form.as_p }}
    {{ faculty_form.as_p }}

    <input type="submit" value="Update" style="display:{{ submit_display }}">
    <a href="{% url 'clubLogin' %}"><input type="button" value="Login" style="display:{{ login_display }}"></a>
    <a href="{% url 'clubLogout' %}"><input type="button" value="Logout" style="display:{{ logout_display }}"></a>
    <a href="{% url 'editForm' %}"><input type="button" value="Update again!" style="display:{{ update_display }}"></a>
</form>
</body>
</html>